<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>sign up</h1>
    <form action="/reg">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" required>
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Password" required>
        <label for="password">repeat </label>
        <input type="password" name="password" placeholder="Password" required>
        <button id="sendDataButton">Sign up</button>
    </form>
    <h3>Have an a account? <a href="/login">Log in</a></h3>
</body>
</html>